<?xml version='1.0' encoding='iso-8859-6'?>
<widget id="MEC.MECAPP" version="3.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MEC_Qatar</name>
    <description>
         
    </description>
    <author email="aadly@malomatia.com" href="http://malomatia.com">
        Malomatia Team
    </author>
    
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <preference name="BackupWebStorage" value="local"/>
    <preference name="KeyboardDisplayRequiresUserAction" value="false"/>

    <platform name="android">
        <allow-intent href="market:*" />

        <preference name="KeepRunning" value="false"/>

        <icon src="www/img/icon-32.png" density="ldpi" />
        <icon src="www/img/icon-48.png" density="mdpi" />
        <icon src="www/img/icon-72.png" density="hdpi" />
        <icon src="www/img/icon-96.png" density="xhdpi" />
        <icon src="www/img/icon-144.png" density="xxhdpi" />
        <icon src="www/img/icon-192.png" density="xxxhdpi" />

        <splash src="www/img/splash-200.png" density="port-ldpi" />
        <splash src="www/img/splash-320.png" density="port-mdpi" />
        <splash src="www/img/splash-480.png" density="port-hdpi" />
        <splash src="www/img/splash-720.png" density="port-xhdpi" />
        <preference name="splash-screen-duration" value="10000"/>
        
        <preference name="Orientation" value="portrait" />


    </platform>


    
        
        
</widget>
