/* _arch-vars-start */
$alert-color: rgba(35,31,32,1);
$base-color: rgba(255,255,255,1);
$base-gradient: flat;
$list-rounded-radius: 0;

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';


/* _arch-other-start */
@font-face {
    font-family: 'PFDinTextUniversal-Light';
    src: url('fonts/PFDinTextUniversal-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/PFDinTextUniversal-Light.otf')  format('opentype'),
        url('fonts/PFDinTextUniversal-Light.woff') format('woff'), url('fonts/PFDinTextUniversal-Light.ttf')  format('truetype'), url('fonts/PFDinTextUniversal-Light.svg#PFDinTextUniversal-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PFDinTextUniversal';
    src: url('fonts/PFDinTextUniversal.eot?#iefix') format('embedded-opentype'),  url('fonts/PFDinTextUniversal.otf')  format('opentype'),
        url('fonts/PFDinTextUniversal.woff') format('woff'), url('fonts/PFDinTextUniversal.ttf')  format('truetype'), url('fonts/PFDinTextUniversal.svg#PFDinTextUniversal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextUniversal-Medium';
    src: url('fonts/PFDinTextUniversal-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/PFDinTextUniversal-Medium.otf')  format('opentype'),
        url('fonts/PFDinTextUniversal-Medium.woff') format('woff'), url('fonts/PFDinTextUniversal-Medium.ttf')  format('truetype'), url('fonts/PFDinTextUniversal-Medium.svg#PFDinTextUniversal-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'FuturaBT-MediumCondensed';
  src: url('fonts/FuturaBT-MediumCondensed.eot?#iefix') format('embedded-opentype'),  url('fonts/FuturaBT-MediumCondensed.woff') format('woff'), url('fonts/FuturaBT-MediumCondensed.ttf')  format('truetype'), url('fonts/FuturaBT-MediumCondensed.svg#FuturaBT-MediumCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GEDinarOne-Medium';
  src: url('fonts/GEDinarOne-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/GEDinarOne-Medium.otf')  format('opentype'),
	     url('fonts/GEDinarOne-Medium.woff') format('woff'), url('fonts/GEDinarOne-Medium.ttf')  format('truetype'), url('fonts/GEDinarOne-Medium.svg#GEDinarOne-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
    background-color: #671f48;
    font-family: 'PFDinTextUniversal' !important;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
}

.x-button-label {
    font-family: 'PFDinTextUniversal' !important;
    font-weight: normal !important;
    font-style: normal !important;
}

.x-toolbar-dark {
    background-color: #fff;
    padding-top: 18px;

    .x-button {
        color: #701d45;
    }
}

.fixed-ar-title {
    font-family: 'GEDinarOne-Medium';
    font-size: 15px;
    line-height: 20px;
}

.fixed-en-title {
    font-size: 11px;
    line-height: 16px;
    font-family: 'FuturaBT-MediumCondensed';
}

.home-wrapper {
    .x-button {
        border: none;
        background: none;
        @include border-radius(0);

        &.action-button {
            background: #691e49;
            margin: 10px;
            height:2.5em;

            .x-button-label {
                text-align: center;
                color: #fff;
            }
        }
    }

    .x-toolbar {
        direction: ltr;

        .x-button-back {
            margin-left: 1em;

            .x-button-label {
                font-size: 90%;
                line-height: 1.8em;
            }

            &:before {
                -webkit-mask: none;
                background: url(../images/btn-back.png) no-repeat;
                background-size: 15px 100%;
                left: -9px;
            }

            &:after {
                -webkit-mask: none;
                background: none;
            }

            &.x-button-pressing {
                background: none !important;
            }
        }

        .x-innerhtml {
            direction: rtl;
        }
    }
}

.home-header,
.home-header2,
.home-header3{
    direction: rtl;
    background: #690927 url(../images/defaultImage.png) center center no-repeat;
    background-size: contain;

    .x-innerhtml {
        padding: 5%;

        .header-text-bg {
            width: 80%;
            background: rgba(255,255,255,0.7);
            padding: 10px;
            color: #000;
            font-size: 85%;
            position: absolute;
            bottom: 8%;
            right: 5%;
        }
    }
}

.home-carousel {
    .x-carousel-indicator {
        background: rgba(255,255,255,0.6);

        span {
            background-color: #701d45;

            &.x-carousel-indicator-active {
                background-color: #fff;
            }
        }
    }
}

.home-btns {
    direction: rtl;

    .home-icon-text {
        color: #fff;
        text-align: center;
        font-size: 85%;

        .x-innerhtml {
            margin: 5% 0 0;
        }
    }

    .btn-services {
        background: #362939;
    }

    .services {
        background: url(../images/home-icon-public-services.png) no-repeat center;
        background-size: contain;
    }

    .btn-news {
        background: #701d45;
    }

    .media {
        background: url(../images/home-icon-media.png) no-repeat center;
        background-size: contain;
    }

    .btn-reports {
        background: #701d45;
    }

    .reports {
        background: url(../images/home-icon-reports.png) no-repeat center;
        background-size: contain;
    }

    .btn-inquire {
        background: #362939;
    }

    .inquiries {
        background: url(../images/home-icon-inquiries.png) no-repeat center;
        background-size: contain;
    }

    .btn-projects {
        background: #362939;
    }

    .projects {
        background: url(../images/home-icon-projects.png) no-repeat center;
        background-size: contain;
    }

    .btn-contact {
        background: #701d45;
    }

    .contact {
        background: url(../images/home-icon-contact.png) no-repeat center;
        background-size: contain;
    }
}

.services-header,
.print-office-header {
    direction: rtl;
    background: url(../images/home-header-bg.jpg) bottom center;
    background-size: cover;

    .services-header-overlay,
    .print-office-header-overlay {
        background: rgba(112,29,69,0.93);

        .x-button {
            background: none;
            color: #fff;
            font-size: 26px;

            &.btn-services .x-button-icon {
                background: url(../images/icon-services.png) no-repeat;
                width: 110px;
                height: 98px;
                margin: 9% 0 15px;
            }

            &.btn-print-office .x-button-icon {
                background: url(../images/icon-print-office.png) no-repeat;
                width: 80px;
                height: 100px;
                margin: 9% 0 15px;
            }
        }

        .service-header-icon {
            background: url(../images/icon-services.png) no-repeat center;
            background-size: contain;
            margin: 5% 0;
        }

        .print-office-header-icon {
            background: url(../images/icon-print-office.png) no-repeat center;
            background-size: contain;
            margin: 5% 0;
        }

        .connect-header-icon {
            background: url(../images/icon-connect.png) no-repeat center;
            background-size: contain;
            margin: 5% 0;
        }

        .print-office-header-title,
        .service-header-title {
            color: #fff;
            font-size: 115%;
            text-align: center;
        }
    }
}

.x-list {
    background:#fff;
}

.inner-panel {
    direction: rtl;
    background: #f5f5f5;
}

.service-title {
    background: #f5f5f5;
    color: #000;
    padding: 15px 0;
    font-family: 'PFDinTextUniversal-Medium' !important;
    text-align: center;
}

.services-list-panel {
    direction: rtl;
    margin: 5px 20px;
    border-bottom:solid 1px #d7d7d7;

    &:last-child {
        border: none;
    }

    .x-button {
        margin: 5px 0px;
        padding: 0;
        color: #050505;
        font-size: 12px;

        &:first-child {
            border-left: solid 1px #d7d7d7;
        }

        .x-button-icon {
            background: url(../images/icons-services-sprite.png) no-repeat;
            width: 80px;
            height: 80px;

            &.icon-my-business {
                background-position: -80px 0;
            }

            &.icon-print-office {
                background-position: 0 0;
            }

            &.icon-my-request {
                background-position: 0 -80px;
            }

            &.icon-complain {
                background-position: -80px -80px;
            }

            &.icon-supply {
                background-position: 0 -160px;
            }
        }
    }
}

.HList,
.CompanyList {
    direction: rtl;
    .x-innerhtml {
        background: #fff;
    }

    .HListItem,
    .CompanyListItem {
        background: url(../images/HListIcon.png) no-repeat 96% center  !important;
        padding: 0 36px 0 0;
        line-height: 35px;
    }

}



.x-menu {
    background-color: #671f48;
}

.MenuTop {

    background-color: #671f48;

    .logo {
        background: url(../images/logo.png) no-repeat center;
        background-size: contain;
        margin: 5% 0;
    }

}

.Menu {

    .x-innerhtml {
        background: #191919;
    }

    .MenuItem {

        background-position:right;
        padding: 0 40px 0 0;
    }

}


.x-menu {
    padding: 0;

    .x-img {
        margin: 5% 0 0;
    }
}

#appLoadingIndicator {
    display: none;
}

.MenuBtnList {

    .x-button {
        background: #191919;
        color: #fff;
        text-align: right;
        @include border-radius(0);
        margin: 0;
        padding:0 10px;
        border:none;
        border-bottom: solid 1px #242424;

        &:last-child {
            border:none;
        }

        .x-button-label {
            text-align: right;
        }

        .x-button-icon {
            width: 32px;
            height: 32px;
            background-size: contain;
        }

        .m-icon1 {
            background: url(../images/m-home.png) no-repeat;
        }

        .m-icon2 {
            background: url(../images/m-services.png) no-repeat;
        }

        .m-icon3 {
            background: url(../images/m-media.png) no-repeat;
        }

        .m-icon4 {
            background: url(../images/m-inq.png) no-repeat;
        }

        .m-icon5 {
            background: url(../images/m-contact.png) no-repeat;
        }

        .m-icon6 {
            background: url(../images/m-projects.png) no-repeat;
        }

        .m-icon7 {
            background: url(../images/m-reports.png) no-repeat;
        }

        .m-icon8 {
            background: url(../images/m-settings.png) no-repeat;
        }

        .m-icon9 {
            background: url(../images/m-login.png) no-repeat;
        }

        .m-icon10 {
            background: url(../images/m-about.png) no-repeat;
        }
    }
}


.contact-us-view {
    direction: rtl;
    background: #fff;

    h2 {
        padding: 0 50px 0;
        color: #691f49;
        line-height: 40px;
        margin: 15px 0;

        &.contact-us {
            background: #e1e1e1 url(../images/contact-us-title-icon.png) no-repeat 96% center;
            padding: 0 50px 0;
            color: #691f49;
            line-height: 40px;
            margin: 0 0 15px;
        }

        &.branches {
            background: #e1e1e1 url(../images/branches.png) no-repeat 96% center;
        }
    }

    .contact-us,
    .e-mail {
        background: #e1e1e1 url(../images/contact-us-title-icon.png) no-repeat 96% center;
        padding: 0 50px 0;
        color: #691f49;
        line-height: 40px;
        margin: 0 0 5px;
    }

    .e-mail {
        background: #e1e1e1 url(../images/e-mail-title-icon.png) no-repeat 96% center;
    }

    a {
        color: #89bee9;
        padding: 0 50px 0 0;
        line-height: 40px;
        direction: ltr;
        display: block;
        font-family: HelveticaNeueLTStd57Condensed;
        margin: 0 0 5px;
    }

    .map-panel {
        margin: 0 0 10px;
    }

    .x-button {
        background: none;
        border: none;

        .x-button-icon {
            width: 50px;
            height: 90px;
            background-size: contain;
        }
    }

    .youtube {
        background: url(../images/youtube.png) no-repeat center;
    }

    .facebook {
        background: url(../images/facebook.png) no-repeat center;
    }

    .twitter {
        background: url(../images/twitter.png) no-repeat center;
    }

    .instagram {
        background: url(../images/instagram.png) no-repeat center;
    }
}


.rtl {direction:rtl}



.complaint-view {
    font-size: 90%;

    .x-form-fieldset  {
        direction: rtl;
        margin: 0;
    }

    .x-input-el {
        -webkit-text-fill-color: #b7b7b7;
    }

    .x-field-clearable {
        .x-input-el {
            -webkit-text-fill-color: #313131;
        }
    }


    .x-label{

        margin: 5px 10px 15px 0;
        font-size: 1em;
        font-weight: bold;


    }



    .x-button-label {
        text-align: right;
        color: #691e49;
    }


    .btn-send {
        background: #691e49;
        margin: 10px;
        height:2.5em;

        .x-button-label {
            text-align: center;
            color: #fff;
        }
    }


    .btn-alt {
        background: #fff;
        margin: 0px 10px 10px;
        height:2.5em;
        border: solid 2px #691e49;
        overflow: visible;

        .x-button-label {
            text-align: center;
            color: #691e49;
        }
    }

}




.news-lstng{
    direction:rtl;

    .x-layout-box-item {
        padding: 0 !important;
    }

    .lstng-img {
        width: 60px;
        height: 60px;
        background-image: url(../images/defaultImage.png);
        background-size: cover;
        background-position: center top;
        margin: 0 0 0 10px;
    }

    .lstng-title {
        font-size: 15px;
        line-height: 20px;
        overflow: hidden;
    }

    .lstng-brief {
        .x-innerhtml {
            font-size: 14px;
            color: #898989;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .x-list-disclosure {
        background: #fff !important;
        margin: 23px 4px 0 10px;

        &:before {
            color: #898989;
        }

        &:after {
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:4px;
            content:']';
            font-family:'Pictos';
            color:#fff;
            font-size:24px;
            text-align:center;
            line-height:35px;
            text-shadow:0 0 0
        }
    }

    .x-item-pressed {
        .x-dock-horizontal {
            background: #711b44 !important;
        }

        .lstng-title,
        .lstng-brief {
            color: #fff;

            .x-innerhtml {
                color: #fff;
            }
        }

        .x-list-disclosure {
            background: #711b44 !important;

            &:before {
                color: #fff;
            }

            &:after {
                color: #711b44;
            }
        }
    }
}

.newsDetails {
    direction:rtl;
    background: #fff;

    .x-img {
        background-size: cover;
        background-position: center top;
    }

    .title-date-container {
        background: #f5f5f5;
        padding: 15px;

        .title{
            font-weight:bold
        }

        .date{
            color: #7a7a7a;
            position: relative;
            padding: 0 25px;

            &:before {
                position:absolute;
                top:0;
                right:0;
                bottom:0;
                content:'t';
                font-family:'Pictos';
                color:#7a7a7a;
                font-size:21px;
                text-align:center;
                text-shadow:0 0 0
            }
        }
    }

    .details {
        background: #fff;
        padding: 15px;

    }

}

.inners-title {
    text-align: center;
    background: #f5f5f5;
    font-weight: bold;
    font-size: 22px;
    line-height: 50px;
    margin:0 !important;
}







/*Establishment Detials*/


.acc-container{
    direction:rtl;
}


.acc-header{
    background:#e1e1e1 url(../images/arrow-down.png) no-repeat 5% center;
    min-height:2.2em !important;
    padding:0;
    border-bottom: solid 1px #fff !important;


    .x-title{
        color: #6f2f51 !important;
        font-size:1em;

    }
}


.acc-header2{
    background:#e1e1e1 url(../images/arrow-up.png) no-repeat 5% center;
    min-height:2.2em !important;
    padding:0;
    border-bottom: solid 1px #fff !important;


    .x-title{
        color: #6f2f51 !important;
        font-size:1em;

    }
}


.acc-header3{
    background:#e1e1e1;
    min-height:2.2em !important;
    padding:0;
    border-bottom: solid 1px #fff !important;


    .x-title{
        color: #6f2f51 !important;
        font-size:1em;

    }
}


.acc-group{
    direction:rtl;
    background-color:#fff;
    .x-label{
        padding:0 1.5em;
        color: #6f2f51;
        padding-top:1em;
        font-weight:bold;
    }

    .label-value{
        color:#010101;
        padding-top:0;
        padding-bottom:0.5em;
        border-bottom: solid 1px #eeeeee;
        font-weight:500;
        min-height:1em;
    }

}



.item-branch{
    padding-right:3em;
    background: url(../images/branch.png) no-repeat 96% center;


    .tpl-branch-1{
        color: #010101;
        font-weight:bold;
    }

    .tpl-branch-2{
        color: #8b8b8b;
        font-weight:500;
    }


}




.item-quantity{

    padding:0.5em 0 0.5em 0;

    div{

        float:right;
    }
    input{

        float:left;
    }


}



.item-company{

    //background
    padding-top:1em;
    padding-bottom:1em;
    padding-right:3em;
    background: url(../images/company.png) no-repeat 96% center !important;


    .tpl-company-1{
        color: #010101;
        font-weight:bold;
    }

    .tpl-company-2{
        color: #6f2f51;
        padding:0.5em 0 0.5em 0.5em;
        font-weight:500;
    }

}


.item-request{

    //background
    padding-top:1em;
    padding-bottom:1em;
    padding-right:3em;
    background: url(../images/request.png) no-repeat 96% center  !important;


    .tpl-request-1{
        color: #010101;
        font-weight:bold;
    }

    .tpl-request-2{
        color: #6f2f51;
        padding:0.5em 0 0.5em 0.5em;
        font-weight:500;
    }
}





.item-signatory{

    //background
    padding-top:1em;
    padding-bottom:1em;
    padding-right:3em;
    background: url(../images/person.png) no-repeat 96% center  !important;


    .tpl-signatory-1{
        color: #010101;
        font-weight:bold;
    }

    .tpl-signatory-2{
        color: #6f2f51;
        padding:0.5em 0 0.5em 0.5em;
        font-weight:500;
    }
    .FA{
        float:right
    }
    .FB{
        float:left
    }

}



.item-activity{
    padding-right:3em;
    padding-bottom:2em;
    background: #fff url(../images/activity.png) no-repeat 96% center  !important;


    .tpl-activity-1{
        color: #010101;
        font-weight:bold;
    }

    .tpl-activity-2{
        color: #8b8b8b;
        font-weight:500;
        padding-left:0.5em;
        padding-top:0.5em;
    }


}




.paymentframe{
    width:20em;
    height:40em;
}





.toplogo{
    background: url(../images/toplogo.png) no-repeat center top;
    width:13em;
    height:2em;


}

/*

.x-toolbar-inner{

background: url(../images/toplogo.png) no-repeat center top;


}*/



.mapview{

    // border:solid 1px red;
    // background-color:red;

}


.webframe{
    width:100%;
    height:200em;

}




.item-recall,
.item-recall.x-list-item.x-item-selected.x-list-item-tpl{
    padding-bottom:1em;
    height:6em;
    .tpl-recall-1{
        width:6em;

        img{

            width:5em;
        }
    }

    .tpl-recall-2{
        width:12em;
        color: #000;


        .brief{

            font-size:1em;
            color:#999999;
        }
    }



}

.FA{
    float:right
}
.FB{
    float:left
}



.item-shop,
.item-shop.x-list-item.x-item-selected.x-list-item-tpl{

    padding-top:1em;
    padding-bottom:1em;
    padding-right:3em;
    background: url(../images/request.png) no-repeat 96% center;
    border-top:1px solid #dedede !important;

    .tpl-shop1-1{
        color: #010101;
        font-weight:bold;
    }

    .tpl-shope-2{
        color: #6f2f51;
        padding:0.5em 0 0.5em 0.5em;
        font-weight:500;
    }
}

.item-product, .item-product.x-list-item.x-item-selected.x-list-item-tpl{
    //background
    padding-top:1em;
    padding-bottom:1em;
    padding-right:3em;
    background: url(../images/request.png) no-repeat 96% center;
    border-top:1px solid #dedede !important;




    .tpl-product-1{
        color: #010101;
        font-weight:bold;
    }

    .tpl-product-2{
        color: #6f2f51;
        padding:0.5em 0 0.5em 0.5em;
        font-weight:500;
    }
}





.item-link,
.item-link.x-list-item.x-item-selected.x-list-item-tpl {
    background: none !important;
    border-top: 1px solid #dedede !important;

    .x-innerhtml {
        padding: 16px 15px !important;
    }

    .nav-item {
        background-position: right center !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        padding: 4px 3em 4px 0;
    }
}



.web-frame{
    border:none;
}


.item-indicator{
    font-size:0.9em;
    padding:0.5em 0 0.5em 0;

    .tpl-indicator-1{
        color: #010101;

        float:right;
        width:80%
    }

    .tpl-indicator-2{
        color: #6f2f51;


        float:right;
        width:20%

    }
}
.sub-title{
    font-size:0.9em;
    color:#6c6c6c;
    margin:1em 0 0 0;
    display:block
}

.arrow-up{
    background: url(../images/ind-up.png) no-repeat 75% center;
    height:54px;
    padding: 18px 0 0 0;
    text-align:left;

}


.arrow-down{
    background: url(../images/ind-down.png) no-repeat 75% center;
    height:54px;
    padding: 18px 0 0 0;
    text-align:left;

}

.ind-details-item{
    background:#f5f5f5;
    border-top:solid 1px #ebebeb;
    border-bottom:solid 1px #ebebeb;
    min-height:5em;
    padding-bottom:1em
}

.ind-details-item2{
    border-top:solid 1px #ebebeb;
    border-bottom:solid 1px #ebebeb;
    min-height:5em;
    padding-bottom:1em;
    padding-left:1.5em;
    background:#fff url(../images/more-arrow.png) no-repeat 5% center;
}

.ctr{
    text-align:center
}


.ind-details-title{
    color:#6f2f51;
    margin:2em 1em 0 0;
    font-weight:bold;
}

.ind-details-title2{
    color:#000;
    margin:2em 1em 0 0;
    font-weight:bold;
}


.ind-details-value{
    color:#000;
    margin:0 1em;
}
.ind-details-value2{
    color:#000;
    margin:0 1em 0 0;
}


.arrow-up-details{
    background: url(../images/ind-up.png) no-repeat 61% center;
    height:54px;
    padding: 18px 0 0 0;
    text-align:center;
}


.arrow-down-details{
    background: url(../images/ind-down.png) no-repeat 61% center;
    height:54px;
    padding: 18px 0 0 0;
    text-align:center;

}








/*Grid Styles*/
.grid-header{
    background:#701d45;
    color:#fff;

}
.grid-subheader{
    background:#7d7d7d;
    color:#fff;

}

.header-cell1{
    text-align:center;
    margin:0 !important;
    padding:0.5em 0 0.5em 0
}


.header-cell2{
    text-align:center;
    border-right:solid 1px #fff;
    margin:0 !important;
    padding:0.5em 0 0.5em 0
}

.subheader-cell1{
    margin:0 !important;
    padding:0.5em
}

.row-cell1{
    text-align:center;
    border-bottom:solid 1px #d7d7d7;
    background:#f5f5f5;
    margin:0 !important;
    padding:0.5em 0 0.5em 0;
    float:right;
    width:60%;
    min-height:2.5em

}
.row-cell2{
    text-align:center;
    border-bottom:solid 1px #d7d7d7;
    border-right:solid 1px #d7d7d7;
    background:#f5f5f5;
    margin:0 !important;
    padding:0.5em 0 0.5em 0;
    float:right;
    width:40%;
    min-height:2.5em

}



/* to be fixed */

.row-cell{
    text-align:center;
    border-bottom:solid 1px #d7d7d7;
    background:#f5f5f5;
    margin:0 !important;
    padding:0.5em 0 0.5em 0;
    float: right;
    min-height:2.5em;
    width:33.33%;

}


.row-cell-fix {
    text-align:center;
    padding:1em;
}



.grid-row{
    .x-innerhtml{
        padding:0 !important;
    }

    &:after {
        content:".";
        display:block;
        visibility:hidden;
        clear:both;
        height:0;
    }
}

.grid-row.x-list-item.x-list-item-tpl{
    border-top:0 !important;
}

.arrow-up-cell{
    background: #f5f5f5 url(../images/ind-up.png) no-repeat 90% 40%;
}


.arrow-down-cell{
    background: #f5f5f5 url(../images/ind-down.png) no-repeat 90% center;
}

/*Grid Styles*/



/* tap panel */


.tap-panel {

    .x-tabbar-dark.x-docked-top   .x-tab-active{

        background: #701d45;
        color:#fff;
        border:solid 1px #701d45;

        .x-button-label{
            color:#fff
        }
    }

    .x-tab{
        -webkit-border-radius:0!important;
        border-radius: 0!important;
        border:solid 1px #701d45 !important;
        padding:5px 5px 0 5px !important;
        -webkit-box-flex: 1;

        .x-button-label{

            text-align:center
        }

    }
}

.x-tabbar-dark{
    background:#fff!important;
}


/* tap panel */

.about-text{

    padding:1em;
}

.sign-in-header-icon {
    background: url(../images/sign-in-img.png) no-repeat center;
    background-size: contain;
    margin: 5% 0;
}

.media-header-icon {
    background: url(../images/media-img.png) no-repeat center;
    background-size: contain;
    margin: 5% 0;
}

.reports-header-icon {
    background: url(../images/reports-img.png) no-repeat center;
    background-size: contain;
    margin: 5% 0;
}

.inquire-header-icon {
    background: url(../images/inquire-img.png) no-repeat center;
    background-size: contain;
    margin: 5% 0;
}

.settings-header-icon {
    background: url(../images/setting-img.png) no-repeat center;
    background-size: contain;
    margin: 5% 0;
}

.login-form {
    background: #fff;

    .x-form-fieldset-inner {
        @include border-radius(0);
        border-bottom: none;
    }

    .login-links {
        text-align: left;
        text-decoration: underline;
        color: #691e49;
        margin: 5px 10px;
    }

}

.branch-title{
    color: #691e49;
    margin: 5px 10px;
}

.branch-address{
    margin: 5px 10px!important;
    padding-right:40px;
    background: url(../images/b-address.png) no-repeat right center;
}


.branch-tel{
    margin: 5px 10px!important;
    padding-right:40px;
    background: url(../images/b-tel.png) no-repeat right center;
}



.branch-goto{
    margin: 5px 10px!important;
    color:#701d45;
    text-align:left;

    .x-innerhtml {
        display: inline;
        background: url(../images/goto.png) no-repeat right center;
        text-decoration:underline;
        padding:0 1em;
    }
}



.branch-fax{
    margin: 5px 10px!important;
    padding-right:40px;
    background: url(../images/b-fax.png) no-repeat right center;
}


.notify-icon{
    background: url(../images/notify-icon.png) no-repeat 0 2px !important;
    width:52px;
    height:22px;
    margin-left:1em !important
}

.item-notification{

    height:9em;
    padding:0.5em 2em 0.5em 0.5em;
    background: url(../images/notify-item1.png) no-repeat 96% 36%;


    .notification-sub{
        padding:0.5em 1em 0.5em 0.5em;
        background: url(../images/notify-item2.png) no-repeat right 36%;

    }

}


.item-education{
    color:#701d45!important;
    height:19em;
    font-size:1.2em;

    .img{
        margin-top:1em;
        height:14em;
        width:100%;
    }
}




.img-lang{
    margin-top:1em;
}


.btn-lang-1{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:#701d45;
    font-size:1.3em;
}


.btn-lang-2{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:#701d45;
    font-size:1.3em;
    margin-top:1em;
}


.x-list .x-list-item.x-item-selected .x-dock-horizontal, .x-list .x-list-item.x-item-selected.x-list-item-tpl {
    background-image: auto !important;
}

.language-button-wrapper {
    padding: 10px;
    background: #fff;

    .language-button-title {
        color: #701d45;
        line-height: 1.8em;
    }

    .language-buttons {
        .x-button {
            background: #fff;
            border: solid 1px #e5e5e5;
            color: #701d45;
            overflow: visible;

            &.x-button-pressed,
            &.x-button-pressing {
                background:#701d45;
                color: #fff;
            }
        }
    }
}

.action-button {
    background: #691e49;
    margin: 10px;
    height:2.5em;

    .x-button-label {
        text-align: center;
        color: #fff;
    }
}


.list-inner{
    direction:rtl;
    background-color:#fff;
    border-bottom: solid 1px #eeeeee;

    .x-label{
        padding:0 2em 0 0 !important ;
        border:0 !important;
        color: #6f2f51;
        font-weight:bold;
    }

    .label-value{
        padding: 0 !important;
        border: 0 !important;
        color:#010101;
        font-weight:500;

    }

}


.text-panel{
    background:#fff;



    .text-container{
        height: 100%;
        padding:1em;
        margin:0 !important;
        line-height:1.5em;

        li {
            list-style: inherit;
            margin-right: 1em;


            li {
                margin-right: 10px;
            }
        }
    }

}



.text-container2{
    height: 100%;
    padding:1em;
    margin:0 !important;
    line-height:2.5em;
    border-bottom: solid 1px #eeeeee;
}



.recall-label-1{
    font-family: 'PFDinTextUniversal-Medium';
    padding:1em 2.2em 0 0;
    color: #6f2f51;
    background: url(../images/recall1.png) no-repeat 96% 90%;


}

.recall-label-2{
    font-family: 'PFDinTextUniversal-Medium';
    padding:1em 2.2em 0 0;
    color: #6f2f51;
    background: url(../images/recall2.png) no-repeat 96% 90%;

}


.recall-label-3{
    font-family: 'PFDinTextUniversal-Medium';
    padding:1em 2.2em 0 0;
    color: #6f2f51;
    background: url(../images/recall3.png) no-repeat 96% 90%;

}

.violation-label-1{
    font-family: 'PFDinTextUniversal-Medium';
    padding:1em 2.2em 0 0;
    color: #6f2f51;
    background: url(../images/vio1.png) no-repeat 96% 90%;
}

.violation-label-2{
    font-family: 'PFDinTextUniversal-Medium';
    padding:1em 2.5em 0 0;
    color: #6f2f51;
    background: url(../images/vio2.png) no-repeat 96% 90%;
}

.violation-label-3{
    font-family: 'PFDinTextUniversal-Medium';
    padding:1em 3em 0 0;
    color: #6f2f51;
    background: url(../images/vio3.png) no-repeat 96% 90%;
}

.violation-label-4{
    font-family: 'PFDinTextUniversal-Medium';
    padding:1em 3em 0 0;
    color: #6f2f51;
    background: url(../images/vio4.png) no-repeat 96% 90%;
}

.project-label-1{
    font-family: 'PFDinTextUniversal-Medium';
    padding:1em 3em 0 0;
    color: #6f2f51;
    background: url(../images/pro1.png) no-repeat 96% 90%;
}




// fix purple issue
.x-list .x-list-item.x-item-selected .x-dock-horizontal, .x-list .x-list-item.x-item-selected.x-list-item-tpl
{
    background-color:#fff!important;

}


.x-list-normal .x-list-item.x-item-selected.x-list-item-tpl, .x-list-normal .x-list-item.x-item-selected .x-dock-horizontal
{

    border-top-color:#cccccc;
}


.img-logo {
    background-size: auto 75% !important;
}


.x-scroll-bar-y.active {
    width: 3px !important;
    margin: 0 3px !important;

    .x-scroll-indicator {
        background: #888 !important;

        &.rounded > * {
            background: #888 !important;
            content: "" !important;
        }
    }
}

.x-list-item {
    .x-innerhtml {
        &:after {
            content: ".";
            display: block;
            visibility: hidden;
            clear: both;
            height: 0;
        }
    }
}



.ext-link{
    color:#711b44;
    text-decoration:underline;
}


.inner-title {
    background: #e1e1e1;
    color: #682048;
    font-family: "PFDinTextUniversal-Medium";
    margin: 0 !important;
    padding: 0.5em;
}


.beta-version {
    background: #fff;
    color: #682048;
    text-align: center;
    font-size: 75%;
}

.mal-logo {
    background-size: contain !important;
    margin: 0 0.5em 0.5em 0;
}

.mal-text {
    padding: 1.2em 0.7em 0 1em;
    font-size: 70%;
    color: #682048;
}

.ltr-cls {
    direction:ltr !important;
    
    .inner-panel {
        direction: ltr;
    }

    .FA {
        float: left;
    }

    .FB {
        float: right;
    }

    .home-header,
    .home-header2,
    .home-header3{
        direction: ltr;

        .x-innerhtml {

            .header-text-bg {
                right: auto;
                left: 5%;
            }
        }
    }

    .item-link,
    .item-link.x-list-item.x-item-selected.x-list-item-tpl {
        .nav-item {
            background-position: left center !important;
            padding: 4px 0 4px 2.8em;
            text-align: left;
            direction: ltr;
        }
    }

    .item-shop,
    .item-shop.x-list-item.x-item-selected.x-list-item-tpl{
        padding-left:3em;
        padding-right:0;
        background: url(../images/request.png) no-repeat 4% center  !important;

        .tpl-shope-2{
            padding:0.5em 0.5em 0.5em 0;
        }
    }

    .item-product, .item-product.x-list-item.x-item-selected.x-list-item-tpl{
        padding-left:3em;
        padding-right:0;
        background: url(../images/request.png) no-repeat 4% center  !important;

        .tpl-product-2{
            padding:0.5em 0.5em 0.5em 0;
        }
    }

    .header-cell2 {
        border-right: none;
        border-left: solid 1px #fff;
    }


    .row-cell1,
    .row-cell2 {
        float: left;
        border-right: solid 1px #d7d7d7;
    }

    .row-cell2 {
        border-right: none;
    }

    .item-company{
        padding-left:3em;
        padding-right:0;
        background: url(../images/company.png) no-repeat 4% center  !important;

        .tpl-company-2{
            padding:0.5em 0.5em 0.5em 0;
        }

    }

    .HListItem {
        background: url(../images/HListIcon.png) no-repeat 4% center  !important;
        padding: 0 0 0 36px;
    }


    .item-request{

        padding-right:0;
        padding-left:3em;
        background: url(../images/request.png) no-repeat 4% center  !important;

        .tpl-request-2{
            padding:0.5em 0.5em 0.5em 0;
        }
    }


    .recall-label-1{
        padding:1em 0 0 2.2em;
        background: url(../images/recall1.png) no-repeat 4% 90%;


    }

    .recall-label-2{
        padding:1em 0 0 2.2em;
        background: url(../images/recall2.png) no-repeat 4% 90%;

    }

    .recall-label-3{
        padding:1em 0 0 2.2em;
        background: url(../images/recall3.png) no-repeat 4% 90%;

    }

    .violation-label-1{
        padding:1em 0 0 2.2em;
        background: url(../images/vio1.png) no-repeat 4% 90%;
    }

    .violation-label-2{
        padding:1em 0 0 2.5em;
        background: url(../images/vio2.png) no-repeat 4% 90%;
    }

    .violation-label-3{
        padding:1em 0 0 3em;
        background: url(../images/vio3.png) no-repeat 4% 90%;
    }

    .violation-label-4{
        padding:1em 0 0 3em;
        background: url(../images/vio4.png) no-repeat 4% 90%;
    }

    .project-label-1{
        padding:1em 0 0 2.2em;
        background: url(../images/pro1.png) no-repeat 4% 90%;
    }

    &.complaint-view{
        .x-label {
            margin: 5px 0 15px 10px;
        }

        .x-form-fieldset {
            direction: ltr;

            .x-spinner.x-field-grouped-buttons .x-input-el {
                text-align: right;
            }
      }
    }

    .lstng-img {
        margin: 0 10px 0 0;
    }

    .x-list-disclosure {
        margin: 23px 10px 0 4px;

        &:after {
            right:4px;
            left:0;
        }
    }

    &.newsDetails {
        direction:ltr;

        .title-date-container {
            .date{
                &:before {
                    right:auto;
                    left:0;
                }
            }
        }

    }


    .contact-us,
    .e-mail {
        background: #e1e1e1 url(../images/contact-us-title-icon.png) no-repeat 4% center;
    }

    .e-mail {
        background: #e1e1e1 url(../images/e-mail-title-icon.png) no-repeat 4% center;
    }

    a {
        padding: 0 0 0 50px;
    }

    .item-indicator{
        .tpl-indicator-1,
        .tpl-indicator-2 {
            float: left;
        }
    }

    .ind-details-title {
        margin: 2em 0 0 1em;
    }

    .ind-details-value2 {
        margin: 0 0 0 1em;
    }


    .ind-details-item2{
        padding-right:1.5em;
        padding-left:0;
        background:#fff url(../images/more-arrow-ar.png) no-repeat 95% center;
    }

    .branch-address{
        padding-left:40px;
        padding-right:0px;
        background: url(../images/b-address.png) no-repeat left center;
    }


    .branch-tel{
        padding-left:40px;
        padding-right:0px;
        background: url(../images/b-tel.png) no-repeat left center;
    }


    .branch-goto{
        text-align:right;

        .x-innerhtml {
            display: inline;
            background: url(../images/goto.png) no-repeat left center;
            text-decoration:underline;
            padding:0 1em;
        }
    }

    .branch-fax{
        padding-left:40px;
        padding-right:0px;
        background: url(../images/b-fax.png) no-repeat left center;
    }

    .text-panel{
        .text-container{
            li {
                list-style: inherit;
                margin-right: 0px;
                margin-left: 1em;

                li {
                    margin-right: 0px;
                    margin-left: 10px;
                }
            }
        }

    }
    
    .mal-text {
        padding: 1.5em 1em 0 0;
        font-size: 70%;
        color: #682048;
    }
    
    .mal-logo {
        margin: 0 0 0.5em 0.5em;
    }


}
