$alert-color: rgba(35,31,32,1);
$base-color: rgba(255,255,255,1);
$base-gradient: flat;
$list-rounded-radius: 0;

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';


body {
    background-color: #671f48;
}

@font-face{font-family:'HelveticaNeueLTStd87HvCn';src:url('fonts/helveticaneueltstd-hvcn-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'HelveticaNeueLTStd47LtCn';src:url('fonts/helveticaneueltstd-ltcn-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'HelveticaNeueLTStd67MdCn';src:url('fonts/helveticaneueltstd-mdcn-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'HelveticaNeueLTStd37ThCn';src:url('fonts/helveticaneueltstd-thcn-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'HelveticaNeueLTStd57Condensed';src:url('fonts/helveticaneueltstd-cn-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}

@font-face {font-family: 'pf_din_text_universalregular';src: url('fonts/PFDinTextUniversal-Regular-webfont.ttf') format('truetype');font-weight: normal;font-style: normal;}

@font-face {font-family: 'pf_din_text_universalthin';src: url('fonts/PFDinTextUniversal-Thin-webfont.ttf') format('truetype');font-weight: normal;font-style: normal;}

@font-face {font-family: 'pf_din_text_universalXBlk';src: url('fonts/PFDinTextUniversal-XBlack-webfont.ttf') format('truetype');font-weight: normal;font-style: normal;}

@font-face {font-family: 'pf_din_text_universalXTh';src: url('fonts/PFDinTextUniversal-XThin-webfont.ttf') format('truetype');font-weight: normal;font-style: normal;}

@font-face {font-family: 'pf_din_text_universalbold';src: url('fonts/PFDinTextUniversal-Bold-webfont.ttf') format('truetype');font-weight: normal;font-style: normal;}

@font-face {font-family: 'pf_din_text_universalhairline';src: url('fonts/PFDinTextUniversal-Hairline-webfont.ttf') format('truetype');font-weight: normal;font-style: normal;}

@font-face {font-family: 'pf_din_text_universallight';src: url('fonts/PFDinTextUniversal-Light-webfont.ttf') format('truetype');font-weight: normal;font-style: normal;}

@font-face {font-family: 'pfDinTextUniversalMedium';src: url('fonts/PFDinTextUniversal-Medium_gdi.ttf') format('truetype');font-weight: normal;font-style: normal;}


.x-toolbar-dark {
    background-color: #fff;
    padding-top: 18px;
}

.home-wrapper {
    .x-button {
        border: none;
        background: none;
        @include border-radius(0);
    }

    .x-toolbar {
        direction: ltr;

        .x-button-back {
            margin-left: 1em;
            background: url(../images/btn-back.png) no-repeat;
            background-size: 15px 100%;

            &:before,
            &:after {
                -webkit-mask: none;
                background: none;
            }
        }

        .x-innerhtml {
            direction: rtl;
        }
    }
}

.home-header {
    direction: rtl;
    background: url(../images/home-header-bg.jpg);
    background-size: cover;

    .x-innerhtml {
        padding: 5%;

        .header-text-bg {
            width: 80%;
            background: rgba(255,255,255,0.7);
            padding: 10px;
            color: #000;
        }
    }
}

.home-btns {
    direction: rtl;

    .home-icon-text {
        color: #fff;
        text-align: center;
        margin: 2% 0 8%;
    }

    .btn-services {
        background: #3a2639;
    }

    .services {
        background: url(../images/home-icon-public-services.png) no-repeat center;
        background-size: contain;
        margin: 10% 0 3%;
    }

    .btn-news {
        background: #633054;
    }

    .media {
        background: url(../images/home-icon-media.png) no-repeat center;
        background-size: contain;
        margin: 10% 0 3%;
    }

    .btn-reports {
        background: #691648;
    }

    .reports {
        background: url(../images/home-icon-reports.png) no-repeat center;
        background-size: contain;
        margin: 10% 0 3%;
    }

    .btn-inquire {
        background: #3a2639;
    }

    .inquiries {
        background: url(../images/home-icon-inquiries.png) no-repeat center;
        background-size: contain;
        margin: 10% 0 3%;
    }

    .btn-projects {
        background: #4f2440;
    }

    .projects {
        background: url(../images/home-icon-projects.png) no-repeat center;
        background-size: contain;
        margin: 10% 0 3%;
    }

    .btn-contact {
        background: #691648;
    }

    .contact {
        background: url(../images/home-icon-contact.png) no-repeat center;
        background-size: contain;
        margin: 10% 0 3%;
    }
}

.services-header,
.print-office-header {
    direction: rtl;
    background: url(../images/home-header-bg.jpg);
    background-size: cover;

    .services-header-overlay,
    .print-office-header-overlay {
        background: rgba(105,30,73,0.8);

        .x-button {
            background: none;
            color: #fff;
            font-size: 26px;

            &.btn-services .x-button-icon {
                background: url(../images/icon-services.png) no-repeat;
                width: 110px;
                height: 98px;
                margin: 9% 0 15px;
            }

            &.btn-print-office .x-button-icon {
                background: url(../images/icon-print-office.png) no-repeat;
                width: 80px;
                height: 100px;
                margin: 9% 0 15px;
            }
        }

        .service-header-icon {
            background: url(../images/icon-services.png) no-repeat center;
            background-size: contain;
            margin: 5% 0;
        }

        .print-office-header-icon {
            background: url(../images/icon-print-office.png) no-repeat center;
            background-size: contain;
            margin: 5% 0;
        }

        .print-office-header-title,
        .service-header-title {
            color: #fff;
            font-size: 26px;
            font-weight: bold;
            text-align: center;
            margin: 0 0 5%;
        }
    }
}

.x-list {
    background:#fff;
}

.inner-panel {
    direction: rtl;
    background: #fff;
}

.service-title {
    direction: rtl;
    background: #e1e1e1;
    color: #661f46;
    padding: 5px 20px;
    font-size: 20px;
}

.services-list-panel {
    direction: rtl;
    margin: 5px 20px;
    border-bottom:solid 1px #d7d7d7;

    &:last-child {
        border: none;
    }

    .x-button {
        margin: 5px 0px;
        padding: 0;
        color: #050505;
        font-size: 12px;

        &:first-child {
            border-left: solid 1px #d7d7d7;
        }

        .x-button-icon {
            background: url(../images/icons-services-sprite.png) no-repeat;
            width: 80px;
            height: 80px;

            &.icon-my-business {
                background-position: -80px 0;
            }

            &.icon-print-office {
                background-position: 0 0;
            }

            &.icon-my-request {
                background-position: 0 -80px;
            }

            &.icon-complain {
                background-position: -80px -80px;
            }

            &.icon-supply {
                background-position: 0 -160px;
            }
        }
    }
}

.HList {
    direction: rtl;
    .x-innerhtml {
        background: #fff;
    }

    .HListItem {
        background: url(../images/HListIcon.png) no-repeat right;
        padding: 0 30px 0 0;
        line-height: 35px;
    }

}




.CompanyList {
    direction: rtl;
    .x-innerhtml {
        background: #fff;
    }

    .CompanyListItem {
        background: url(../images/HListIcon.png) no-repeat right;
        padding: 0 35px 0 0;
        line-height: 35px;
    }

}







.x-menu {
    background-color: #671f48;
}

.MenuTop {

    background-color: #671f48;

    .logo {
        background: url(../images/logo.png) no-repeat center;
        background-size: contain;
        margin: 5% 0;
    }

}

.Menu {

    .x-innerhtml {
        background: #191919;
    }

    .MenuItem {

        background-position:right;
        padding: 0 40px 0 0;
    }

}


.x-menu {
    padding: 0;

    .x-img {
        margin: 5% 0 0;
    }
}

#appLoadingIndicator {
    display: none;
}

.MenuBtnList {

    .x-button {
        background: #191919;
        color: #fff;
        text-align: right;
        @include border-radius(0);
        margin: 0;
        padding:0 10px;
        border:none;
        border-bottom: solid 1px #242424;

        &:last-child {
            border:none;
        }

        .x-button-label {
            text-align: right;
        }

        .x-button-icon {
            width: 32px;
            height: 32px;
            background-size: contain;
        }

        .m-icon1 {
            background: url(../images/m-home.png) no-repeat;
        }

        .m-icon2 {
            background: url(../images/m-services.png) no-repeat;
        }

        .m-icon3 {
            background: url(../images/m-media.png) no-repeat;
        }

        .m-icon4 {
            background: url(../images/m-inq.png) no-repeat;
        }

        .m-icon5 {
            background: url(../images/m-contact.png) no-repeat;
        }

        .m-icon6 {
            background: url(../images/m-projects.png) no-repeat;
        }

        .m-icon7 {
            background: url(../images/m-reports.png) no-repeat;
        }

        .m-icon8 {
            background: url(../images/m-settings.png) no-repeat;
        }

        .m-icon9 {
            background: url(../images/m-login.png) no-repeat;
        }
    }
}


.contact-us-view {
    direction: rtl;
    background: #fff;

    h2 {
        padding: 0 50px 0;
        color: #691f49;
        line-height: 40px;
        margin: 15px 0;

        &.contact-us {
            background: #e1e1e1 url(../images/contact-us-title-icon.png) no-repeat 96% center;
            margin: 0 0 15px;
        }

        &.branches {
            background: #e1e1e1 url(../images/branches.png) no-repeat 96% center;
        }
    }

    a {
        color: #89bee9;
        padding: 0 50px 0 0;
        line-height: 40px;
        direction: ltr;
        display: block;
        font-family: HelveticaNeueLTStd57Condensed;

        &.call {
            background: url(../images/contact-us-item-icon.png) no-repeat 96% center;
        }

        &.mail {
            background: url(../images/mail.png) no-repeat 96% center;
        }
    }

    .map-panel {
        margin: 15px;
    }

    .x-button {
        background: none;
        border: none;

        .x-button-icon {
            width: 32px;
            height: 32px;
        }
    }

    .youtube {
        background: url(../images/youtube.png) no-repeat center;
    }

    .facebook {
        background: url(../images/facebook.png) no-repeat center;
    }

    .twitter {
        background: url(../images/twitter.png) no-repeat center;
    }

    .instagram {
        background: url(../images/instagram.png) no-repeat center;
    }
}


.rtl {direction:rtl}



.complaint-view {


    .x-form-fieldset  {
        direction: rtl;
        margin: 0;
    }

    .x-input-el {
        -webkit-text-fill-color: #b7b7b7;
    }

    .x-field-clearable {
        .x-input-el {
            -webkit-text-fill-color: #313131;
        }
    }


    .x-label{

        margin: 5px 10px 15px 0;
        font-size: 1em;
        font-weight: bold;


    }



    .x-button-label {
        text-align: right;
        color: #691e49;
    }





    .btn-send {
        background: #691e49;
        margin: 10px;
        height:2em;


        .x-button-label {
            text-align: center;
            color: #fff;
        }
    }

}




.news-lstng{
    direction:rtl;

    .x-layout-box-item {
        padding: 0 !important;
    }

    .lstng-img {
        width: 60px;
        height: 60px;
        background-size: cover;
        background-position: center top;
        margin: 0 0 0 10px;
    }

    .lstng-title {
        font-size: 14px;
    }

    .lstng-brief {
        .x-innerhtml {
            font-size: 13px;
            color: #898989;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .x-list-disclosure {
        background: #fff !important;
        margin: 23px 4px 0 10px;

        &:before {
            color: #898989;
        }

        &:after {
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:4px;
            content:']';
            font-family:'Pictos';
            color:#fff;
            font-size:24px;
            text-align:center;
            line-height:35px;
            text-shadow:0 0 0
        }
    }

    .x-item-pressed,
    .x-item-selected {
        .x-dock-horizontal {
            background: #711b44 !important;
        }

        .lstng-title,
        .lstng-brief {
            color: #fff;

            .x-innerhtml {
                color: #fff;
            }
        }

        .x-list-disclosure {
            background: #711b44 !important;

            &:before {
                color: #fff;
            }

            &:after {
                color: #711b44;
            }
        }
    }
}

.newsDetails {
    direction:rtl;
    background: #fff;

    .x-img {
        background-size: cover;
        background-position: center top;
    }

    .title-date-container {
        background: #f5f5f5;
        padding: 15px 35px;

        .title{
            font-weight:bold
        }

        .date{
            color: #7a7a7a;
            position: relative;

            &:before {
                position:absolute;
                top:0;
                right:-25px;
                bottom:0;
                content:'t';
                font-family:'Pictos';
                color:#7a7a7a;
                font-size:21px;
                text-align:center;
                text-shadow:0 0 0
            }
        }
    }

    .details {
        padding: 20px;
    }

}

.inners-title {
    text-align: center;
    background: #f5f5f5;
    font-weight: bold;
    font-size: 22px;
    line-height: 50px;
    margin:0 !important;
}







/*Establishment Detials*/


.acc-container{
    direction:rtl;
}


.acc-header{
    background:#e1e1e1 url(../images/arrow-down.png) no-repeat 5% center;
    min-height:2.2em !important;
    padding:0;
    border-bottom: solid 1px #fff !important;


    .x-title{
        color: #6f2f51 !important;
        font-size:1em;

    }
}


.acc-header2{
    background:#e1e1e1 url(../images/arrow-up.png) no-repeat 5% center;
    min-height:2.2em !important;
    padding:0;
    border-bottom: solid 1px #fff !important;


    .x-title{
        color: #6f2f51 !important;
        font-size:1em;

    }
}


.acc-header3{
    background:#e1e1e1;
    min-height:2.2em !important;
    padding:0;
    border-bottom: solid 1px #fff !important;


    .x-title{
        color: #6f2f51 !important;
        font-size:1em;

    }
}

























.acc-group{
    direction:rtl;
    background-color:#fff;
    .x-label{
        padding-right:1.5em;
        color: #6f2f51;
        padding-top:1em;
        font-weight:bold;
    }

    .label-value{
        color:#010101;
        padding-top:0;
        padding-bottom:0.5em;
        border-bottom: solid 1px #eeeeee;
        font-weight:500;
        min-height:1em;
    }

}



.item-branch{
    padding-right:3em;
    background: url(../images/branch.png) no-repeat 96% center;


    .tpl-branch-1{
        color: #010101;
        font-weight:bold;
    }

    .tpl-branch-2{
        color: #8b8b8b;
        font-weight:500;
    }


}




.item-quantity{

    padding:0.5em 0 0.5em 0;

    div{

        float:right;
    }
    input{

        float:left;
    }


}



.item-company{

    //background
    padding-top:1em;
    padding-bottom:1em;
    padding-right:3em;
    background: url(../images/company.png) no-repeat 96% center;


    .tpl-company-1{
        color: #010101;
        font-weight:bold;
    }

    .tpl-company-2{
        color: #6f2f51;
        padding:0.5em 0 0.5em 0.5em;
        font-weight:500;
    }
    .FA{
        float:right
    }
    .FB{
        float:left
    }

}




.item-signatory{

    //background
    padding-top:1em;
    padding-bottom:1em;
    padding-right:3em;
    background: url(../images/person.png) no-repeat 96% center;


    .tpl-signatory-1{
        color: #010101;
        font-weight:bold;
    }

    .tpl-signatory-2{
        color: #6f2f51;
        padding:0.5em 0 0.5em 0.5em;
        font-weight:500;
    }
    .FA{
        float:right
    }
    .FB{
        float:left
    }

}



.item-activity{
    padding-right:3em;
    padding-bottom:2em;
    background: #fff url(../images/activity.png) no-repeat 96% center;


    .tpl-activity-1{
        color: #010101;
        font-weight:bold;
    }

    .tpl-activity-2{
        color: #8b8b8b;
        font-weight:500;
        float:left;
        padding-left:0.5em;
        padding-top:0.5em;
    }


}










.toplogo{
    background: url(../images/toplogo.png) no-repeat center top;
    width:13em;
    height:2em;


}

/*

.x-toolbar-inner{

background: url(../images/toplogo.png) no-repeat center top;


}*/
















