<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.malomatia.DropBoxChooser"
        version="0.3.0">

  <name>DropBoxChooser</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/DropBoxChooser.js" target="js/DropBoxChooser.js"/>

  <js-module src="www/DropBoxChooser.js" name="DropBoxChooser">
    <clobbers target="DropBoxChooser" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="DropBoxChooser">
        <param name="android-package" value="com.malomatia.plugin.DropBoxChooser"/>
      </feature>
    </config-file>

    <source-file src="src/android/DropBoxChooser.java" target-dir="src/com/malomatia/plugin/"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="DropBoxChooser">
        <param name="ios-package" value="DropBoxChooser" />
      </feature>
    </config-file>

    <header-file src="src/ios/DropBoxChooser.h" target-dir="DropBoxChooser"/>
    <source-file src="src/ios/DropBoxChooser.m" target-dir="DropBoxChooser"/>
  </platform>

  <platform name="wp7">
    <source-file src="src/wp7/DropBoxChooser.cs"/>
  </platform>

</plugin>